VSProjects/ApartmentComplexServiceLibrary/ApartmentComplexServiceLibrary/Service References/Bank/BankService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.soa.com/projekt/postavka/V4" elementFormDefault="qualified" targetNamespace="www.soa.com/projekt/postavka/V4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPostavka">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Postavka" nillable="true" type="tns:Postavka" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostavka" nillable="true" type="tns:ArrayOfPostavka" />
  <xs:complexType name="Postavka">
    <xs:sequence>
      <xs:element minOccurs="0" name="DavcnaStopnja" type="xs:double" />
      <xs:element minOccurs="0" name="Enota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kolicina" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Znesek" type="xs:double" />
      <xs:element minOccurs="0" name="ZnesekDavek" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Postavka" nillable="true" type="tns:Postavka" />
</xs:schema>