VSProjects/ApartmentComplexServiceLibrary/ApartmentComplexServiceLibrary/Service References/Bank/BankaServiceV3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="www.soa.com/projekt/V3" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankaServiceV3" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="www.soa.com/projekt/V3" location="http://svizec.informatika.uni-mb.si/SOATravel/banka2/services/v3/BankService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_Banka" type="i0:Banka">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UstvariRacun">
      <soap:operation soapAction="www.soa.com/projekt/V3/Banka/UstvariRacun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PregledTransakcij">
      <soap:operation soapAction="www.soa.com/projekt/V3/Banka/PregledTransakcij" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PregledStanja">
      <soap:operation soapAction="www.soa.com/projekt/V3/Banka/PregledStanja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PologSredstev">
      <soap:operation soapAction="www.soa.com/projekt/V3/Banka/PologSredstev" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrenosSredstevMedRacuni">
      <soap:operation soapAction="www.soa.com/projekt/V3/Banka/PrenosSredstevMedRacuni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UstvarjanjeERacuna">
      <soap:operation soapAction="www.soa.com/projekt/V3/Banka/UstvarjanjeERacuna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaciloERacuna">
      <soap:operation soapAction="www.soa.com/projekt/V3/Banka/PlaciloERacuna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VrniSpecificniERacun">
      <soap:operation soapAction="www.soa.com/projekt/V3/Banka/VrniSpecificniERacun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LastnaNapakaFault">
        <soap:fault use="literal" name="LastnaNapakaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PregledNeplacanihERacunov">
      <soap:operation soapAction="www.soa.com/projekt/V3/Banka/PregledNeplacanihERacunov" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PregledVsehERacunov">
      <soap:operation soapAction="www.soa.com/projekt/V3/Banka/PregledVsehERacunov" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaciloSPlacilnoKartico">
      <soap:operation soapAction="www.soa.com/projekt/V3/Banka/PlaciloSPlacilnoKartico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UstvariTemplateERacun">
      <soap:operation soapAction="www.soa.com/projekt/V3/Banka/UstvariTemplateERacun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PridobiTemplatesERacun">
      <soap:operation soapAction="www.soa.com/projekt/V3/Banka/PridobiTemplatesERacun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PridobiSpecificniTemplate">
      <soap:operation soapAction="www.soa.com/projekt/V3/Banka/PridobiSpecificniTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankaServiceV3">
    <wsdl:port name="BasicHttpBinding_Banka" binding="tns:BasicHttpBinding_Banka">
      <soap:address location="http://svizec.informatika.uni-mb.si/SOATravel/banka2/services/v3/BankService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>