VSProjects/ApartmentComplexServiceLibrary/ApartmentComplexServiceLibrary/Service References/Bank/BankService139.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.soa.com/projekt/ustvarjenRacunResponse/V4" elementFormDefault="qualified" targetNamespace="www.soa.com/projekt/ustvarjenRacunResponse/V4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UstvarjenRacunResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stevilkaTRR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UstvarjenRacunResponse" nillable="true" type="tns:UstvarjenRacunResponse" />
</xs:schema>