VSProjects/ApartmentComplexServiceLibrary/ApartmentComplexServiceLibrary/Service References/Hotel/Hotel1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProjektHotel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProjektHotel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLezisce">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lezisce" type="tns:Lezisce" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLezisce" nillable="true" type="tns:ArrayOfLezisce" />
  <xs:simpleType name="Lezisce">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ZakonskaPostelja" />
      <xs:enumeration value="Pograd" />
      <xs:enumeration value="EnoLezisce" />
      <xs:enumeration value="DodatnoLezisce" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Lezisce" nillable="true" type="tns:Lezisce" />
  <xs:simpleType name="TipStoritve">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Šport" />
      <xs:enumeration value="Hrana" />
      <xs:enumeration value="Zabava" />
      <xs:enumeration value="Sprostitev" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipStoritve" nillable="true" type="tns:TipStoritve" />
</xs:schema>