VSProjects/ApartmentComplexServiceLibrary/ApartmentComplexServiceLibrary/Service References/Hotel/HotelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://um.si/feri/soa/hotel/v2" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HotelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://um.si/feri/soa/hotel/v2" location="http://svizec.informatika.uni-mb.si/SOATravel/hotel2/services/v2/Hotel.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_HotelService" type="i0:HotelService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PridobiSeznamHotelov">
      <soap:operation soapAction="http://um.si/feri/soa/hotel/v2/HotelService/PridobiSeznamHotelov" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PreveriRazpolozljivostSob">
      <soap:operation soapAction="http://um.si/feri/soa/hotel/v2/HotelService/PreveriRazpolozljivostSob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RezervirajSobo">
      <soap:operation soapAction="http://um.si/feri/soa/hotel/v2/HotelService/RezervirajSobo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PregledStoritev">
      <soap:operation soapAction="http://um.si/feri/soa/hotel/v2/HotelService/PregledStoritev" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PregledStoritevByType">
      <soap:operation soapAction="http://um.si/feri/soa/hotel/v2/HotelService/PregledStoritevByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PreveriRazpolozljivostStoritve">
      <soap:operation soapAction="http://um.si/feri/soa/hotel/v2/HotelService/PreveriRazpolozljivostStoritve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RezervirajStoritev">
      <soap:operation soapAction="http://um.si/feri/soa/hotel/v2/HotelService/RezervirajStoritev" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelService">
    <wsdl:port name="BasicHttpBinding_HotelService" binding="tns:BasicHttpBinding_HotelService">
      <soap:address location="http://svizec.informatika.uni-mb.si/SOATravel/hotel2/services/v2/Hotel.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>